* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  /* position: relative; */
  width: 1000px;
  height: 1500px;
  border: 2px solid black;
}

.icon i {
  font-size: 50px;
}


.icon i:hover {
  color: blue;
}

.position div {
  width: 200px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  /* 높이값과 동일하게 주면 세로 가운데로 오게 된다. */
}

.position div:first-child {
  background-color: red;
  position: static;
  /* position: static; html 문서상에서 원래 있어야 할 위치에 배치됨 */
  /* static 삿ㅇ태에서는 top,bottom,left, right 갑승ㄹ 줘도 적용이 되지 않는다.
  즉 사실상 포지션 스태틱은 굳이 적어줄 필요가 없다. */
  /* top: 30px */
}

.position div:nth-child(2) {
  background-color: yellow;
  /* position: relative;
  relative가 움직이는 기준은 원래 위를 기준으로 이동하는 것이다.
  top: 50px;
  left: 50px; */
  /* position: fixed;
  top: 100px;
  right: 30px; */
  position: sticky;
  top: 50px;
  left: 50px;
}

.position div:last-child {
  background-color: greenyellow;
  /* position: absolute; */
  /* 만약 부모에 박스 기준이 없으면 바디를 기준으로 뷰포트 최하단에 위치하게 된다. */
  /* absolutte는 기준을 자신이 아닌 상위요소에서 찾는데 태그 중에 relative 기준으로 움직임
  만약 기준이 없다면 최상위에 있는 body가 배치 기준이 됨. */
  /* bottom: 20px;
  right: 20px; */
  /* 공중에 떠있는 속성들 중에 누가 맨 앞에오고 누가 뒤에 올 것인지 정해주는 속성이다. 숫자가 높ㅍ을 수록 앞으로 감.
  이 제트 인덱스는 포지션이 있을 때만 적용이 가능하다. */
  /* z-index: -1; */
}

/* 포지션 기본값은 스태틱이다. */

.iu-box {
  height: 600px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iu {
  width: 500px;
  height: 500px;
  background-image: url(./images/아이유2.jpg);
  background-attachment: fixed;
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: 350px 350px;
}


.empty-box {
  height: 1500px;
}